.classpath
.project
*.class
bin
.metadata/*
.settings/*
HeapSort_Texto1.txt
HeapSort_Texto2.txt
HeapSort_Texto3.txt
HeapSort_Texto4.txt
HeapSort_Texto5.txt
QuickSort_Texto1.txt
QuickSort_Texto2.txt
QuickSort_Texto3.txt
QuickSort_Texto4.txt
QuickSort_Texto5.txt
QuickSortInsercaoDireta_Texto1.txt
QuickSortInsercaoDireta_Texto2.txt
QuickSortInsercaoDireta_Texto3.txt
QuickSortInsercaoDireta_Texto4.txt
QuickSortInsercaoDireta_Texto5.txt
ShellSort_Texto1.txt
ShellSort_Texto2.txt
ShellSort_Texto3.txt
ShellSort_Texto4.txt
ShellSort_Texto5.txt
resultados.txt
